<%- layout("layouts/boilerplate")%>
<form
  method="POST"
  action="/listings"
  class="needs-validation"
  novalidate
  enctype="multipart/form-data"
>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="mb-3">
        <label for="title" class="form-label zero">Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Add a catchy title"
          name="title"
          required
        />
        <div class="invalid-feedback">Please enter title.</div>
        <div class="valid-feedback">looks good</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label zero">Description</label>
        <textarea
          class="form-control"
          name="description"
          placeholder="enter description"
          rows="3"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter description</div>
        <div class="valid-feedback">looks good</div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label zero">Price</label>
        <input
          type="text"
          class="form-control"
          placeholder="1200"
          name="price"
          required
        />
        <div class="invalid-feedback">Please enter valid price</div>
      </div>

      <!-- // START UPLOADING FILE PDF,JPEG ETC -->
      <label for="image]" class="form-label zero">Upload image</label>
      <div class="input-group mb-3">
        <input
          name="image"
          type="file"
          class="form-control"
          id="inputGroupFile04"
          aria-describedby="inputGroupFileAddon04"
          aria-label="Upload"
          required
        />
        <div class="invalid-feedback">Please upload image</div>
      </div>

      <!-- // CLOSE UPLOADING FILE PDF,JPEG ETC -->

      <div class="row">
        <div class="col-md-8">
          <div class="mb-3">
            <label for="location" class="form-label zero">Location</label>
            <input
              type="text"
              class="form-control"
              placeholder="Rajasthan,Jaipur,Punjab"
              name="location"
              required
            />
            <div class="invalid-feedback">Please provide a valid location</div>
            <div class="valid-feedback">looks good</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="country" class="form-label zero">Country</label>
            <input
              type="text"
              class="form-control"
              placeholder="India"
              name="country"
              required
            />
            <div class="invalid-feedback">Please provide a valid country</div>
            <div class="valid-feedback">looks good</div>
          </div>
        </div>
      </div>

      <button class="btn btn-danger">Add</button>
    </div>
  </div>
</form>
