* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

/* navbar */

.bold {
  font-weight: 700;
  /* color: #222222 !important; */
}

.navbar {
  height: 4.2rem;
}

.fa-compass {
  font-size: 2rem;
  color: #fe424d;
}

/* FOOTER */

.footer {
  height: 8rem;
  /* border: 1px solid black; */
  background-color: #ebebeb;
}

/*.f-info {
   display: flex;
      justify-content: center;
      align-items: center; 
}*/

.f-top {
  display: flex;
  /* width: 100%; */
  font-size: 1.4rem;
  gap: 1.5rem;
  text-align: center;
  justify-content: center;
}

.f-last {
  font-size: 1rem;
  text-align: center;
}
/* asdf */

.f-middle {
  text-align: center;
  font-size: 1rem;
}

/* CARDS INDEX.EJS */

.ancor {
  text-decoration: none;
  color: black;
}

.listing-card {
  border: none;
  margin-left: 1rem;
  /* margin-top: 1rem; */
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0px !important;
  margin: 0px !important;
}

.card-text {
  margin: 0px !important;
}

.title {
  font-weight: 600;
}

.price {
  font-weight: 300;
}

/* .form-control {
      border: 1px solid black;
    } */

/* CARD EFFECT */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.25;
  background-color: white;
  cursor: pointer;
}

/* // ADD NEW LISTINGS */

.zero {
  margin-bottom: 0px !important;
}

/* SHOW .EJS SHOW PAGE */
.show {
  font-weight: 600;
}
