<style>
  .flash-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<!-- FOR SUCCESSS -->
<%if(success){%> <%if(success.length){%>
<div class="flash-center mt-2">
  <div class="text-center">
    <h5 class="alert alert-danger text-center" role="alert">
      <%=success%><strong></strong>
    </h5>
  </div>
</div>
<%}%> <%}%>

<!-- FOR ERROR -->
<%if(error){%> <%if(error.length){%>
<div class="flash-center mt-2">
  <div class="text-center">
    <h5 class="alert alert-danger text-center" role="alert">
      <%=error%><strong></strong>
    </h5>
  </div>
</div>
<%}%> <%}%>
