<!-- FOR SUCCESSS -->
<%if(success){%> <%if(success.length){%>
<div class="row mt-2">
  <div class="col-6 offset-3">
    <h5 class="alert alert-success text-center" role="alert">
      <%=success%><strong></strong>
    </h5>
  </div>
</div>
<%}%> <%}%>

<!-- FOR ERROR -->
<%if(error){%> <%if(error.length){%>
<div class="row mt-2">
  <div class="col-6 offset-3">
    <h5 class="alert alert-danger text-center" role="alert">
      <%=error%><strong></strong>
    </h5>
  </div>
</div>
<%}%> <%}%>
