<footer class="footer">
  <div class="f-info">
    <div>
      <div class="f-top">
        <div><i class="fa-brands fa-square-facebook"></i></div>
        <div><i class="fa-brands fa-square-instagram"></i></div>
        <div><i class="fa-brands fa-linkedin"></i></div>
      </div>
      <br />
      <div class="f-middle">&copy; Wanderlust Private Limited</div>
      <br />
      <div class="f-last">Privacy Terms</div>
    </div>
  </div>
</footer>
